html,
body {
	height: 100%;
}

body {
	font-family: 'Gilroy-regular';
	font-weight: 400;
	font-size: 16px;
	line-height: 27px;
	overflow-x: hidden;
	min-width: 320px;
	color: $default;
}

body._lock {
	overflow: hidden;
}

body._pc .menu__list>li:hover .menu__sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}

body._touch .menu__list>li {
	display: flex;
	align-items: center;
}

body._touch .menu__link {
	flex: 1 1 auto;
}

body._touch .menu__arrow {
	display: block;
	width: 0;
	height: 0;
	margin-left: 5px;
	transition: all .3s ease 0s;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #fff;
}

body._touch .menu__list>li._active .menu__sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}

body._touch .menu__list>li._active .menu__arrow {
	transform: rotate(-180deg);
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.container-fluid {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 10px;
}

a {
	color: inherit;
}

.btn {
	background: #F25822;
	border-radius: 30px;
	border: none;
	color: #fff;
	font-size: 12px;
	line-height: 14px;
	padding: 12px 27px;
	transition: all .3s;
	@extend %title-font;

	&:hover {
		box-shadow: 0px 0px 20px 15px rgba(242, 88, 34, .2);
	}

}

.logo {
	display: inline-block;
}

.slick-dots {
	display: flex;
	justify-content: center;
	align-items: center;

	li {
		font-size: 0;
		margin: 0 5px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	button {
		border: none;
		background-color: #DDDDDD;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		margin: 0;
		padding: 0;
		transition: all .2s;
	}

	.slick-active {


		button {
			width: 12px;
			height: 12px;
			background: #F25822;

		}
	}
}

._block {
	padding: 100px 0;
}