$title: #000;
$default: #888888;

%title-font {
    font-family: 'Gilroy-bold';
    font-weight: 700;
}

%text-font {
    font-family: 'Gilroy-regular';
    font-weight: normal;
}

// 2 миксина устраняют ошибку плагина fancybox
@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}